.btn {
  padding: 12px 40px;
  border-radius: 8px;
  background: var(--brand-color-purple);
}

.navbar__btn {
  font-size: 1rem;
  font-family: var(--font);
  font-weight: 500;
  padding: 12px 40px;
  border-radius: 8px;
  background: var(--brand-color-purple);
  transition: background 0.3s ease;

  &:hover {
    opacity: 0.8;
  }
}

.buttons__container {
  display: flex;
  gap: 2rem;

}

.button__acessar {

  border-radius: 8px;
  background: var(--brand-color-purple);
}

.button__detalhes {
  border-radius: 8px;
  border: 1px solid --dark-40;
  background: var(--dark-30);
}

.button {
  width: 160px;
  padding: 11px 20px;

  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}